@import "../variables.less";

.anim-delay(@n: 1) when (@n > 0) {
  .anim-delay(@n - 1);

  &:nth-child(@{n}) {
    animation-delay: unit(2.2 + @n * 0.3, s);
  }
}

.icons {
  font-size: 5rem;
  position: absolute;
  top: 36rem;
  left: 50%;
  margin-left: 41rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
  transform: translateZ(1.3rem);

  @media (max-aspect-ratio: @responsive-aspect-step1) {
    left: 48%;
  }

  @media (max-aspect-ratio: @responsive-aspect-step3) {
    top: auto;
    margin-left: 14rem;
    bottom: 7rem;
  }

  @keyframes iconOpen {
    80% { opacity: 1; transform: scale(1.15); }
    100% { opacity: 1; transform: scale(1); }
  }

  & > a {
    display: inline-flex;
    color: #fff;
    width: 5rem;
    overflow: hidden;
    opacity: 0;
    animation: iconOpen 0.7s ease-out 2.5s 1 normal forwards;
    transform-origin: 50% -2rem;
    transform: scale(0.5);

    .anim-delay(3);

    & > span {
      transition: width 0.3s ease-in-out;
      overflow: hidden;
    }

    & > span:first-child {
      width: 0%;
    }

    & > span:last-child {
      width: 100%;
      opacity: 0.5;
      position: relative;

      & > svg {
        position: absolute;
        right:0;
        top: 0;
      }
    }

    &:hover {
      & > span:first-child {
        width: 100%;
      }

      & > span:last-child {
        opacity: 0.7;
        width: 0%;
      }
    }
  }
}