body {
  background: url(../images/grey-background.png) #1d1d1d;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.my-face {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
}

.my-face-wrapper {
  height: 100%;
  min-height: 320px;
  display: inline-block;
}

.my-face-wrapper > div {
  display: none;
}